.data {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.data__graph-img {
  margin: 0;
  padding: 0;
}

.data__graph-img_type_interactive {
  width: 1120px;
}
