.header {
  width: 100%;
  max-width: 1280px;
  height: 750px;
  background-image: url("../images/header_background.svg");
  position: relative;
}

.header__title {
  position: absolute;
  top: 79px;
  left: 640px;
  color: #008000;
  font-family: "Josefin Slab", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 1;
  width: 470px;
}
