.header {
  width: 100%;
  max-width: 1280px;
  /* padding: 0 40px 0; */
  box-sizing: border-box;
  position: relative;
}

/* .header:after {
  content: "";
  flex-grow: 1;
  padding: 0 655px 0;
  border-bottom: 1px solid #8cc962;
  opacity: 0.7;
} */

.header__image-container {
  width: 100%;
  max-width: 1280px;
}

.header__title {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 116px;
  left: 54%;
  color: #008000;
  font-family: "Josefin Slab", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 1;
  max-width: 465px;
  width: 100%;
}

.header__prompt {
  box-sizing: border-box;
  margin: 0;
  padding: 17px 40px 30px;
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 62px;
  line-height: 1.2;
  text-align: left;
  max-width: 1280px;
  width: 100%;
}

.header__overview {
  margin: 0;
  padding: 0 0 10px 27px;
  color: black;
  text-align: left;
}

@media screen and (max-width: 1280px) {
  .header__title {
    top: 9.05vw;
    font-size: 5.6vw;
    max-width: 465px;
    width: 37vw;
  }
}

@media screen and (max-width: 320px) {
  .header__prompt {
    font-size: 22px;
    padding: 17px 20px 20px;
  }

  .header__overview {
    padding: 0 35px 0;
    font-size: 12px;
  }
}
