.header {
  width: 100%;
  max-width: 1280px;
  position: relative;
}

.header:after {
  content: "";
  flex-grow: 1;
  padding: 0 655px 0;
  border-bottom: 1px solid #8cc962;
  opacity: 0.7;
}

.header__image-container {
  width: 100%;
  max-width: 1280px;
  height: 750px;
  background-image: url("../images/header_background.svg");
  position: relative;
}

.header__title {
  position: absolute;
  top: 79px;
  left: 640px;
  color: #008000;
  font-family: "Josefin Slab", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 1;
  width: 470px;
}

.header__prompt {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 62px;
  line-height: 1.2;
  text-align: left;
  padding-left: 47px;
  padding-top: 17px;
  padding-bottom: 30px;
  max-width: 1280px;
  width: 100%;
}

.header__overview {
  margin: 0;
  padding: 0;
  color: black;
  text-align: left;
  padding-left: 47px;
  padding-bottom: 10px;
}
