.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0 40px 0;
  box-sizing: border-box;
}

.nav::before {
  content: "";
  flex-grow: 1;
  padding: 50px 615px 0;
  border-bottom: 1px solid #8cc962;
  opacity: 0.7;
}

.nav::after {
  content: "";
  flex-grow: 1;
  padding: 0 615px 0;
  border-bottom: 1px solid #8cc962;
  opacity: 0.7;
}

.nav__container {
  margin: 0;
  padding: 0 0 50px 0;
}

.nav__bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 50px 0 0 0;
  list-style: none;
  gap: 34px 54px;
}

.nav__button-container {
  margin: 0;
  padding: 0;
}

/* .nav__button-container:hover {
  opacity: 0.4;
} */

.nav__button-link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* max-width: 315px; */
  width: 315px;
  height: 155px;
  background-color: #8cc962;
  border: 2px solid #000000;
  border-radius: 35px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__button-link:hover {
  background-color: white;
}

.nav__button-link:hover .nav__button-text {
  color: black;
}

.nav__button-text {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
}

@media screen and (max-width: 1280px) {
  .nav::before {
    content: "";
    flex-grow: 1;
    padding: 40px 24vw 0;
    border-bottom: 1px solid #8cc962;
    opacity: 0.7;
  }

  .nav::after {
    content: "";
    flex-grow: 1;
    padding: 0 24vw 0;
    border-bottom: 1px solid #8cc962;
    opacity: 0.7;
  }
}

@media screen and (max-width: 1133px) {
  .nav__bar {
    gap: 20px 30px;
  }
  .nav__button-link {
    width: 300px;
    height: 130px;
  }
  .nav__button-text {
    font-size: 22px;
  }
}

@media screen and (max-width: 1042px) {
  .nav__bar {
    gap: 17px 25px;
  }
  .nav__button-link {
    width: 275px;
    height: 110px;
  }
  .nav__button-text {
    font-size: 18px;
  }
}

@media screen and (max-width: 956px) {
  .nav__bar {
    gap: 13px 20px;
  }
  .nav__button-link {
    width: 250px;
    height: 90px;
  }
  .nav__button-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .nav__bar {
    gap: 13px 20px;
  }
  .nav__button-link {
    width: 250px;
    height: 90px;
  }
  .nav__button-text {
    font-size: 16px;
  }
}

@media screen and (max-width: 425px) {
  .nav {
    padding: 0;
  }

  .nav__bar {
    gap: 10px 10px;
  }

  .nav__button-link {
    width: 250px;
    height: 60px;
    border-radius: 30px;
  }

  .nav__button-text {
    font-size: 12px;
  }
}
